    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide sliderPic" src="../../assets/images/pong.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Pong</h1>
              <p>Created using javascript. View the code on codepen.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">CodePen</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide sliderPic" src="../../assets/images/clock.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Canvas Clock</h1>
              <p>Created using javascript and HTML canvas. View the code on CodePen</p>
              <p><a target="_blank" class="btn btn-lg btn-primary" href="https://codepen.io/ehelbig1/pen/vmKMYV" role="button">CodePen</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide sliderPic" src="../../assets/images/quote.png" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Random Quote Generator</h1>
              <p>Created useing HTML, CSS, and javascript. View the code on CodePen</p>
              <p><a target="_blank" class="btn btn-lg btn-primary" href="https://codepen.io/ehelbig1/pen/wJKZev/" role="button">CodePen</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">About this site. <span class="text-muted">M.E.A.N Stack Development.</span></h2>
          <p class="lead">This site was created using MongoDB, Express, AngularJS, and NodeJS, also know as the M.E.A.N Stack.
            It was deployed using Heroku via GitHub, where the code can be viewed. This site implements many features including user
            registration with form validation, e-mail varification, temporary tokens to keep users logged in, options to loggin in through
            third parties like Facebook or Twitter, and User restrictions. It is an example of a small portion of the possiblites that
            programming has to offer.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/code57-assets/0006-MEAN/M.E.A.N.+Stack.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Portfolio. <span class="text-muted">A love for Programming.</span></h2>
          <p class="lead">In addition to this site representing my work, it is also my online portfolio. Click through the slides at the top of the page
            to view a small sample of my work. Links to the code are available on CodePen, where you can find additional projects.
          </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://blog.codepen.io/wp-content/uploads/2012/06/Black-Large.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">A work in progress. <span class="text-muted">Under development.</span></h2>
          <p class="lead">Many of my projects, have gone through several changes and are still works in progress. This site is no exception. There is still
            much work, and much learning, to be done and changes will be occuring often. If you would like to discuss ideas or projects with me,
            you can find me on LinkedIn of Facebook. Please feel free to explore my site and visit regularly to see updates.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://allswalls.com/images/under-construction-sign-work-computer-humor-funny-text-maintenance-wallpaper-website-web-wallpaper-1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->