<div class="container">
    <div class="page-header">
        <h1>User Registration</h1>
    </div>

    <form name='regForm' ng-submit="register.regUser(regData);" novalidate>
        <div ng-class="{'has-success':(regForm.name.$valid && !regForm.name.$pristine), 'has-error':(!regForm.name.$valid && !regForm.name.$pristine) || (!regForm.name.$valid && regForm.$submitted)}">
            <!-- Name -->
            <label>Name</label>
            <input class="form-control" type="text" name="name" placeholder="Name" ng-model="register.regData.name" ng-pattern="/^(([a-zA-Z]{2,30})+[ ]+([a-zA-Z]{2,30})+)+$/" ng-minlength="2" ng-maxlength="40" required>
            <p class="help-block" ng-show="(!regForm.$pristine && regForm.name.$error.required) || (regForm.$submitted && regForm.name.$error.required)">This field is required.</p>
            <ul ng-show="(!regForm.$pristine && regForm.name.$error.pattern) || (!regForm.name.$pristine && regForm.name.$error.minlength) || (!regForm.name.$pristine && regForm.name.$error.maxlength)">
                <li>Please provide name in standard format, eg. John Doe.</li>
            </ul>
        </div>
        <br>
        <!-- Email -->
        <label>Email</label>
        <input class="form-control" type="text" name="email" placeholder="Email" ng-model="register.regData.email">
        <br>
        <!-- Username -->
        <label>Username</label>
        <input class="form-control" type="text" name="username" placeholder="Username" ng-model="register.regData.username">
        <br>
        <!-- Password -->
        <label>Password</label>
        <input class="form-control" type="password" name="password" placeholder="Password" ng-model="register.regData.password">
        <br>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <br>

    <div class="jumbotron text-center" ng-show="register.loading">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>Loading...</p>
    </div>

    <br>

    <div class="row show-hide-message" ng-show="register.successMsg">
        <div class="alert alert-success">{{register.successMsg}}</div>
    </div>

    <div class="row show-hide-message" ng-show="register.errorMsg">
        <div class="alert alert-danger">{{register.errorMsg}}</div>
    </div>
</div>
